.body-container {
  box-sizing: border-box;
  width: 100%;
  height: 150vh;
  padding: 0;
  background-color: rgba(240, 149, 2, 0.469);
}
.header-container {
  box-sizing: border-box;
  padding: 0;
  background-color: rgba(255, 163, 88, 0.9);
  border-radius: 10px;
  text-align: center;
  border: none;
  color: white;
}
.header-h1 {
  margin-top: 100px;
}
.note-container {
  box-sizing: border-box;
  margin-top: 40px;
  width: 90%;
  margin: auto;
  grid-template-columns: 100%;
  display: flex;
  /* background-color: white; */
  /* border: 5px red solid; */
  justify-content: center;
}

/* textarea div */
.note-title {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 70%;
  display: flex;
  justify-content: center;
}
.note-textbox {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 70%;
  display: flex;
  justify-content: center;

  /* textarea */
}
#title-box {
  border: none;
  resize: none;
}
#body-box {
  border: none;
  resize: none;
}
.button-container {
  box-sizing: border-box;
  margin: 10px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.done-button {
  border: none;
  background: none;
  padding: 0;
  margin: 10px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  justify-self: center;
  align-items: center;
  background-color: rgb(222, 133, 0);
  padding: 10px;
  width: 50%;
  margin-left: 25%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(249, 153, 27);
  font-weight: bold;
  text-align: center;
}
.see-notes {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  justify-self: center;
  align-items: center;
  background-color: rgb(222, 133, 0);
  padding: 10px;
  width: 50%;
  margin-left: 25%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(249, 153, 27);
  font-weight: bold;
  text-align: center;
}

.old-note-container {
  box-sizing: border-box;
  margin: 10px;
  padding: 0;
  /* border: 2px purple solid; */
  /* display: flex; */
  /* flex-wrap: wrap; */
}
